.dblue {
  color: #081c3a;
}
.purple {
  color: #a381cd;
}
.yellow {
  color: #ffc930;
}
.red {
  color: #e11e24;
}
.white {
  color: #ffffff;
}
.sky-blue {
  color: #54dee2;
}
.green {
  color: #c8d45b;
}
body {
  background: url(../img/back.jpg) 50% 0 no-repeat #0a090f fixed;
  background-size: cover;
}
.specialBig img {
  max-width: 100%;
}
.breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.breadcrumb a {
  color: #a381cd;
  text-decoration: underline;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb > li + li:before {
  color: #fff;
}
h1,
.h1,
h2,
.h2 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 48px;
}
h2,
.h2 {
  margin-top: -10px;
}
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
h3,
.h3,
h4,
.h4 {
  font-weight: 500;
}
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
}
h1.white,
.h1.white,
h2.white,
.h2.white,
h3.white,
.h3.white,
h4.white,
.h4.white,
h5.white,
.h5.white,
h6.white,
.h6.white {
  color: #fff;
  margin-top: -15px;
}
p.marg5 {
  margin-bottom: 5px;
}
.header {
  background: #081c3a;
}
.menu {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
.menu.nav > li > a {
  padding: 8px 20px;
}
.menu a {
  color: #0c1b32;
  font-size: 0.94444444em;
  line-height: 27px;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: -moz-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: -o-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: linear-gradient(to bottom, #fefefe, #c5c5c5);
  font-weight: 600;
  border-left: 1px solid #fdfefe;
  border-right: 1px solid #c3c3c3;
}
.menu a [class^='ico'] {
  vertical-align: top;
  margin-right: 4px;
}
.menu a:hover {
  background: #ffffff;
}
.menu .active a {
  background: #e11e24 !important;
  color: #fff;
}
.menu li:first-child a {
  border-left: 0;
}
.menu li:last-child a {
  border-right: 0;
}
.menu.second {
  border-radius: 8px 8px 0 0;
}
.menu.second.nav > li > a {
  padding: 13px 20px;
}
.menu.second a {
  text-align: left;
  line-height: 17px;
}
.menu.second a > span {
  display: table-cell;
  vertical-align: middle;
}
.menu.second a > span:first-child {
  min-width: 48px;
}
.upper {
  padding: 35px 30px 25px;
}
.upper > div {
  margin-left: 46px;
  float: left;
}
.upper > div:first-child {
  margin-left: 0;
}
.upper .phones {
  margin-top: -5px;
  text-align: center;
}
.btns > div {
  display: inline-block;
}
.btns > div:first-child {
  margin-right: 36px;
}
.btns a {
  border-radius: 12px;
  position: relative;
  color: #081c3a;
  font-size: 1em;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
}
.btns a [class^=ico] {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.btns a > span {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cacaca));
  background-image: -webkit-linear-gradient(top, #ffffff, #cacaca);
  background-image: -moz-linear-gradient(top, #ffffff, #cacaca);
  background-image: -o-linear-gradient(top, #ffffff, #cacaca);
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #081c3a;
  padding: 4px 33px 6px 19px;
}
.btns a:hover > span {
  background: #ffffff;
}
.btns .ticket {
  border: 2px solid #e11e24;
}
.btns .ticket > span {
  padding-left: 69px;
}
.btns .ticket [class^=ico] {
  left: 15px;
}
.btns .program {
  border: 2px solid #ffc930;
  border-right: 0;
  border-radius: 12px 0 0 12px;
}
.btns .program > span {
  padding-right: 80px;
  border-radius: 10px 0 0 10px;
  border-right: 0;
}
.btns .program [class^=ico] {
  right: -2px;
}
.btns .program:before {
  content: '';
  width: 31px;
  height: 54px;
  background: url(../img/sprite.png) -5px -1494px no-repeat;
  position: absolute;
  right: -31px;
  top: -2px;
  border-radius: 0 12px 0 0;
}
.btns .program:hover:before {
  background-position: -5px -1553px;
}
.phone .prefix {
  color: #a381cd;
  font-weight: 600;
  font-size: 1.33333333em;
}
.phone .number {
  color: #ffffff;
  font-weight: 900;
  font-size: 1.66666667em;
  line-height: 22px;
}
.tx {
  text-shadow: 0 1px 3px #081c3a;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tx .h2 {
  margin-top: 0;
}
.tx .des {
  color: #ffffff;
  font-size: 1.66666667em;
  font-weight: 600;
  line-height: 32px;
}
main {
  background: rgba(8, 28, 58, 0.85);
  padding: 30px;
}
main .leftSide {
  float: left;
  width: 270px;
}
main .rightSide {
  float: right;
  width: 870px;
}
main h1 {
  margin-top: -10px;
}
.lmenu {
  border: 2px solid #a381cd;
  border-radius: 8px;
  margin-bottom: 20px;
}
.lmenu .title a {
  display: table;
  width: 100%;
  border-radius: 4px 4px 0 0;
  font-size: 1.22222222em;
  line-height: 20px;
  padding: 0 20px 2px;
  height: 58px;
  background: #a381cd;
}
.lmenu .title a > span {
  display: table-cell;
  vertical-align: middle;
}
.lmenu .title a > span:first-child {
  width: 70px;
}
.lmenu a {
  color: inherit;
}
.lmenu ul {
  padding: 15px 18px;
  list-style: none;
  margin: 0;
}
.lmenu li {
  position: relative;
  padding-left: 25px;
  font-size: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 20px;
}
.lmenu li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #a381cd;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}
.lmenu .active {
  color: #ffc930;
  text-decoration: underline;
}
.lmenu .active:before {
  background-color: #ffc930;
}
.lmenu.active {
  border-color: #ffc930;
}
.lmenu.active .title a {
  background: #ffc930;
  color: #0c1b32;
}
.purple-bord {
  border: 2px solid #a381cd;
  border-radius: 7px;
  padding: 12px 10px;
  margin-bottom: 15px;
}
.footer {
  background: #081c3a;
  padding-top: 30px;
}
.footer .menu.second {
  border-radius: 0;
}
.footer .textBottom {
  padding: 0 15px 40px;
  font-size: 1em;
  line-height: 22px;
}
.card {
  padding: 5px 5px 0;
  position: relative;
  margin-bottom: 30px;
}
.card h4 {
  line-height: 24px;
}
.card h4 a {
  color: inherit;
}
.card:before {
  content: '';
  position: absolute;
  z-index: 10;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 0;
  border: 2px solid #a381cd;
  border-radius: 7px;
}
.card .picture {
  margin: -5px -5px 0;
  position: relative;
  height: 155px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px 0 #101b2a;
  border-radius: 8px;
}
.card .picture img {
  max-width: 270px;
}
.card .picture .text {
  flex-direction: column;
  justify-content: center;
  display: none;
  position: absolute;
  z-index: 11;
  top: 7px;
  bottom: 0;
  right: 7px;
  left: 7px;
  font-size: 1em;
  line-height: 20px;
}
.card .picture .text p span {
  font-size: 14px;
}
.card .body {
  padding: 5px 25px;
  position: relative;
  z-index: 11;
  height: 278px;
  overflow: hidden;
}
.card:hover h4 a {
  text-decoration: underline;
}
.card:hover h4 a:hover {
  text-decoration: none;
}
.card:hover:before {
  border-color: #e11e24;
}
.card:hover .picture img {
  opacity: 0.3;
}
.card:hover .picture .text {
  display: flex;
}
.card .description {
  font-size: 1em;
  line-height: 22px;
}
.show {
  color: #ffc930;
  text-decoration: none !important;
}
.show > span {
  border-bottom: 1px dashed #ffc930;
}
.show > span:hover {
  border-bottom-color: transparent;
}
.show [class^=ico] {
  margin-top: -3px;
  margin-right: 13px;
  border-bottom: 0;
}
.included {
  margin-bottom: 7px;
  margin-left: -10px;
}
.included > div {
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
  margin-left: 10px;
  font-size: 0.61111111em;
}
.included > div > span {
  font-size: 14px;
}
.included [class^=ico] {
  vertical-align: top;
  margin-right: 7px;
}
.special {
  margin-bottom: 30px;
}
.special img {
  max-width: 100%;
}
.content a {
  text-decoration: underline;
}
.content a:hover {
  text-decoration: none;
}
.content ul {
  padding: 0;
  list-style: none;
}
.content ul li {
  padding-left: 25px;
  position: relative;
}
.content ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 11px;
  background: #a381cd;
}
label {
  font-size: 14px;
  font-weight: 400;
}
input[type="checkbox"] {
  position: absolute;
  width: 0 !important;
  visibility: hidden;
}
input[type="checkbox"] + label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label a {
  color: #fff;
}
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  background: url(../img/sprite.png) -5px -1372px no-repeat;
  width: 21px;
  height: 18px;
}
input[type="checkbox"]:checked + label:before {
  background-position: -5px -1390px;
}
.form {
  border: 2px solid #ffc930;
  padding: 12px 15px;
  border-radius: 8px;
  margin: 40px auto 30px;
  max-width: 870px;
}
.form form {
  max-width: 530px;
  margin: 0 auto;
}
.form h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.form .row-form {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 8px;
}
.form .col-form-8 {
  float: left;
  width: 33.33334%;
  padding: 0 10px;
}
.form-control {
  height: 26px;
  padding: 3px 16px;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 0 #c3c3c3 inset;
}
.btn {
  font-weight: 700;
  border: 0;
  padding: 5px 30px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  vertical-align: top;
  color: #000;
  border-radius: 4px;
}
.btn.btn-big {
  font-size: 30px;
  line-height: 32px;
  padding: 7px 38px;
  border-radius: 7px;
}
.btn.btn-medium {
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
}
.btn-red {
  background: #e11e24;
  color: #fff;
}
.btn-red:hover {
  background: #ffc930;
}
.catalog h4 {
  margin-top: -5px;
  margin-bottom: 5px;
}
.catalog .card {
  padding: 0;
}
.catalog .card:before {
  display: none;
}
.catalog .card .body {
  padding: 0;
  position: relative;
  z-index: 11;
  height: auto;
  overflow: hidden;
}
.catalog .card .picture {
  margin: 0;
}
.catalog .card .picture .text {
  bottom: 7px;
}
.catalog .card .picture:before {
  content: '';
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #a381cd;
  border-radius: 7px;
}
.catalog .card .description {
  margin-bottom: 10px;
}
.catalog .card:hover .picture:before {
  border-color: #e11e24;
}
.catalog .included {
  margin-bottom: 0;
}
.catalog .about-excursion {
  font-size: 0.77777778em;
  line-height: 18px;
  padding-left: 20px;
}
.catalog .media-left,
.catalog .media > .pull-left {
  padding-right: 30px;
}
.border {
  position: relative;
  display: inline-block;
}
.border:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  border: 2px solid #a381cd;
  border-radius: 7px;
}
.border img {
  border-radius: 7px;
  max-width: 100%;
}
a.border:hover:before {
  border-color: #e11e24;
}
.share {
  margin: 30px 0;
}
.gallery {
  margin-bottom: 30px;
  display: inline-block;
}
.gallery img {
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 #081c3a;
  transition: all 0.1s ease-in-out;
  max-width: 100%;
}
.gallery:hover img {
  transform: scale(1.05);
  border-radius: 0;
}
.smallTitle {
  color: #a381cd;
  font-size: 0.77777778em;
}
ul.without {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  line-height: 24px;
}
ul.without li span {
  font-size: 14px;
}
.dates {
  min-height: 329px;
}
.dates ul.without {
  font-size: 16px;
  height: 200px;
  overflow: hidden;
}
.dates .show {
  font-size: 16px;
}
.info-about-excursion {
  text-align: center;
}
.info-about-excursion a:not(.btn) {
  text-decoration: none;
  border-bottom: 1px dashed #e11e24;
}
.info-about-excursion a:not(.btn):hover {
  border-bottom-color: transparent;
}
.info-about-excursion .item {
  margin-bottom: 14px;
}
.info-about-excursion h5 {
  color: #a381cd;
  margin: 0 0 5px;
}
.info-about-excursion .number {
  color: #ffc930;
}
.info-about-excursion .number span {
  font-weight: 700;
  font-size: 1.66666667em;
  line-height: 24px;
}
.info-about-excursion .info {
  font-size: 0.77777778em;
  line-height: 16px;
}
.madia-left-ico {
  margin-right: 10px;
  width: 50px;
  text-align: center;
}
.media-body h3:first-child {
  margin-top: -5px;
}
.media-body h5 {
  margin: 5px 0;
}
.padd-lef-25 {
  padding-left: 25px;
}
.table > thead > tr > th {
  border-bottom: 0;
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  background: rgba(163, 129, 205, 0.3);
}
.table > thead > tr > th:first-child {
  text-align: left;
}
.table > thead > tr > th.withoutBg {
  background: none;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 2px solid #a381cd;
  border-left: 2px solid #a381cd;
  vertical-align: middle;
}
.table-bord {
  border-radius: 7px;
  border: 2px solid #a381cd;
  margin: 20px 0;
}
.table-bord table {
  margin: 0;
}
.table-bord .table th:first-child,
.table-bord .table td:first-child {
  border-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 991px) {
  .adaptive991 {
    border: 0;
  }
  .adaptive991 .table > tbody > tr > th,
  .adaptive991 .table > tfoot > tr > th,
  .adaptive991 .table > tbody > tr > td,
  .adaptive991 .table > tfoot > tr > td {
    border-left: 0;
  }
  .adaptive991 .table > tbody > tr > td:first-child {
    border-top: 0;
    background: rgba(163, 129, 205, 0.3);
  }
  .adaptive991 .table th:first-child,
  .adaptive991 .table td:first-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .adaptive991 .table tr {
    border: 2px solid #a381cd;
    border-radius: 7px;
  }
  .adaptive991 table {
    width: 100%;
  }
  .adaptive991 table thead {
    display: none;
  }
  .adaptive991 table tr {
    margin-bottom: 10px;
    display: block;
  }
  .adaptive991 table td {
    display: block;
    text-align: right;
    font-size: 14px;
  }
  .adaptive991 table td:last-child {
    border-bottom: 0;
  }
  .adaptive991 table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
@media screen and (max-width: 767px) {
  .adaptive767 {
    border: 0;
  }
  .adaptive767 .table > tbody > tr > th,
  .adaptive767 .table > tfoot > tr > th,
  .adaptive767 .table > tbody > tr > td,
  .adaptive767 .table > tfoot > tr > td {
    border-left: 0;
  }
  .adaptive767 .table > tbody > tr > td:first-child {
    border-top: 0;
    background: rgba(163, 129, 205, 0.3);
  }
  .adaptive767 .table th:first-child,
  .adaptive767 .table td:first-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .adaptive767 .table tr {
    border: 2px solid #a381cd;
    border-radius: 7px;
  }
  .adaptive767 table {
    width: 100%;
  }
  .adaptive767 table thead {
    display: none;
  }
  .adaptive767 table tr {
    margin-bottom: 10px;
    display: block;
  }
  .adaptive767 table td {
    display: block;
    text-align: right;
    font-size: 14px;
  }
  .adaptive767 table td:last-child {
    border-bottom: 0;
  }
  .adaptive767 table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) {
  .adaptive600 {
    border: 0;
  }
  .adaptive600 .table > tbody > tr > th,
  .adaptive600 .table > tfoot > tr > th,
  .adaptive600 .table > tbody > tr > td,
  .adaptive600 .table > tfoot > tr > td {
    border-left: 0;
  }
  .adaptive600 .table > tbody > tr > td:first-child {
    border-top: 0;
    background: rgba(163, 129, 205, 0.3);
  }
  .adaptive600 .table th:first-child,
  .adaptive600 .table td:first-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .adaptive600 .table tr {
    border: 2px solid #a381cd;
    border-radius: 7px;
  }
  .adaptive600 table {
    width: 100%;
  }
  .adaptive600 table thead {
    display: none;
  }
  .adaptive600 table tr {
    margin-bottom: 10px;
    display: block;
  }
  .adaptive600 table td {
    display: block;
    text-align: right;
    font-size: 14px;
  }
  .adaptive600 table td:last-child {
    border-bottom: 0;
  }
  .adaptive600 table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
@media screen and (max-width: 480px) {
  .adaptive480 {
    border: 0;
  }
  .adaptive480 .table > tbody > tr > th,
  .adaptive480 .table > tfoot > tr > th,
  .adaptive480 .table > tbody > tr > td,
  .adaptive480 .table > tfoot > tr > td {
    border-left: 0;
  }
  .adaptive480 .table > tbody > tr > td:first-child {
    border-top: 0;
    background: rgba(163, 129, 205, 0.3);
  }
  .adaptive480 .table th:first-child,
  .adaptive480 .table td:first-child {
    padding-left: 10px;
    padding-right: 10px;
  }
  .adaptive480 .table tr {
    border: 2px solid #a381cd;
    border-radius: 7px;
  }
  .adaptive480 table {
    width: 100%;
  }
  .adaptive480 table thead {
    display: none;
  }
  .adaptive480 table tr {
    margin-bottom: 10px;
    display: block;
  }
  .adaptive480 table td {
    display: block;
    text-align: right;
    font-size: 14px;
  }
  .adaptive480 table td:last-child {
    border-bottom: 0;
  }
  .adaptive480 table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
button.close {
  font-family: 'Times New Roman', sans-serif;
}
a.callback {
  position: fixed;
  top: 50%;
  right: -5px;
  width: 55px;
  height: 58px;
  margin: -29px 0 0;
  background: url(../img/sprite.png) -5px -1612px no-repeat;
  cursor: pointer;
  transition: right 0.1s ease-in-out;
  z-index: 100;
}
a.callback:hover {
  right: 0;
}
.modal {
  color: #081c3a;
}
.modal .modal-header {
  padding: 15px 25px;
}
.modal .modal-body {
  padding: 15px 25px 25px;
}
.modal label {
  color: #081c3a;
  line-height: 16px;
}
.modal .form-control {
  height: 34px;
  border: 1px solid #c3c3c3;
}
.modal textarea.form-control {
  height: 86px;
}
.modal a {
  color: #081c3a;
}
.modal input[type="checkbox"] + label:before {
  top: -1px;
}
input.dark[type="checkbox"] + label a {
  color: #081c3a;
}
input.dark[type="checkbox"] + label:before {
  background-position: -5px -1674px;
}
input.dark[type="checkbox"]:checked + label:before {
  background-position: -5px -1692px;
}
textarea.form-control {
  height: 86px;
  resize: none;
  max-width: 100%;
  min-width: 100%;
}
.excursion-card > .row:first-child {
  margin-bottom: 30px;
}
.excursion-card .gallery {
  margin-bottom: 0;
}
.excursion-card .purple-bord {
  margin: 0;
}
.send-rewiev {
  padding: 30px 0;
  margin: 20px 0;
  border-top: 2px solid #a381cd;
  border-bottom: 2px solid #a381cd;
}
.send-rewiev .auth-block {
  margin-top: 28px;
}
.auth-block {
  line-height: 26px;
}
.auth-block a {
  margin-left: 5px;
  margin-top: -2px;
}
.auth-block a:hover {
  opacity: 0.7;
}
.review-stars-input {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  float: left;
}
.review-stars-input input:checked ~ label,
.review-stars-input label,
.review-stars-input label:hover,
.review-stars-input label:hover ~ label {
  background: url(../img/sprite.png) no-repeat;
}
.review-stars-input input {
  width: 0;
  visibility: hidden;
  position: absolute;
}
.review-stars-input input:checked ~ label {
  background-position: -5px -1344px;
  width: 29px;
  height: 23px;
}
.review-stars-input label {
  background-position: -5px -1316px;
  width: 29px;
  height: 23px;
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.review-stars-input label:hover,
.review-stars-input label:hover ~ label {
  background-position: -5px -1344px;
  width: 29px;
  height: 23px;
}
#secondMenu {
  display: none;
}
.bar {
  padding: 8px 15px;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: -moz-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: -o-linear-gradient(top, #fefefe, #c5c5c5);
  background-image: linear-gradient(to bottom, #fefefe, #c5c5c5);
}
.bar.act {
  background: #c5c5c5;
}
#showMenu {
  border-radius: 2px;
  border: 1px solid #081c3a;
  color: #081c3a;
  margin-left: auto;
  display: block;
}
.review-picture {
  margin-top: 5px;
}
.review-picture img {
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #a381cd;
}
.review-picture-answer img {
  border-color: #ffc930;
}
.review-name .date {
  font-size: 0.77777778em;
  margin-left: 5px;
}
[class^=adaptive] table {
  width: 100%;
}
.price-table {
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}
.price-table:after {
  content: '';
  display: block;
  border-bottom: 2px solid #a381cd;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
}
.price-table td:first-child,
.price-table td:nth-child(2),
.price-table th:first-child,
.price-table th:nth-child(2) {
  text-align: left;
}
.price-table td,
.price-table th {
  max-width: 505px;
  padding: 3px 7px;
}
.price-table td:first-child,
.price-table th:first-child {
  width: 134px;
  padding-left: 0;
}
.price-table .btn-group {
  vertical-align: top;
}
.price-table thead {
  vertical-align: bottom;
  font-size: 14px;
  line-height: 14px;
}
.price-table thead small {
  font-size: 11px;
  white-space: pre;
}
.price-table tbody {
  vertical-align: top;
}
.price-table .filter {
  border-top: 5px solid transparent;
  border-bottom: 10px solid transparent;
}
.price-table .form-control {
  padding: 3px 8px;
}
.price-table .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.price-table .excursion-name {
  width: 505px;
}
.price-table .leading {
  width: 180px;
}
.date-input {
  width: 55px;
  display: inline-block;
}
.caret {
  border-top: 6px dashed;
  border-top: 6px solid \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.bootstrap-select > .dropdown-toggle {
  height: 26px;
  padding: 3px 16px;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 0 #c3c3c3 inset;
}
.excursion-descr {
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
  line-height: 16px;
}
.excursion-descr [class^=ico] {
  position: absolute;
  left: 0;
  top: 5px;
}
.excursion-descr .small-text {
  font-size: 0.77777778em;
  margin-top: 8px;
}
.pagination {
  margin: 5px 0;
}
.pagination > li {
  display: inline-block;
  vertical-align: top;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: none;
  display: inline-block;
  padding: 0;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  background: #a381cd;
  border: 0;
  margin-left: 3px;
  border-radius: 4px;
}
.pagination > li > a.Previous,
.pagination > li > a.Next {
  width: auto;
  padding: 0 14px;
  border-radius: 4px;
  text-transform: uppercase;
}
.pagination > li > span {
  text-decoration: none;
  background: transparent !important;
  width: auto;
  color: #a381cd !important;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #081c3a;
  background: #ffc930;
}
@media (max-width: 1260px) {
  body {
    font-size: 16px;
  }
  h2,
  .h2 {
    font-size: 2.2em;
  }
  .menu.second a > span:first-child {
    min-width: 40px;
  }
  .menu.second.nav > li > a {
    padding: 13px 10px;
    font-size: 14px;
  }
  .upper .phones {
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .upper .phones > div {
    display: inline-block;
  }
  .upper .phones > div:first-child {
    margin-right: 40px;
  }
  main {
    padding: 20px;
  }
  main .leftSide {
    width: 220px;
  }
  main .rightSide {
    width: 680px;
  }
  .lmenu .title a {
    padding: 0 15px 2px;
  }
  .lmenu .title a > span:first-child {
    width: 60px;
  }
  .lmenu .title a {
    font-size: 1.1em;
  }
  h1,
  .h1 {
    font-size: 2.3em;
  }
  h1,
  .h1,
  h2,
  .h2 {
    line-height: 42px;
  }
  .card .body {
    padding: 0px 15px;
  }
  h4,
  .h4 {
    font-size: 1.2em;
  }
  .card h4 {
    line-height: 20px;
  }
  .tx .des {
    font-size: 1.4em;
    line-height: 30px;
  }
  .content img {
    max-width: 100%;
  }
  .card .picture img {
    max-width: 206px;
  }
  .card .picture {
    height: 118px;
  }
  .included > div {
    margin-left: 5px;
  }
  .included {
    margin-left: -5px;
  }
  .card .description {
    font-size: .9em;
    line-height: 20px;
  }
  .card .picture .text {
    font-size: .8em;
    line-height: 16px;
  }
  .excursion-card .dates ul.without {
    font-size: 14px;
    line-height: 18px;
    height: 144px;
  }
  .excursion-card .dates .show {
    font-size: 14px;
  }
  .excursion-card .dates {
    min-height: 256px;
  }
  .excursion-card .purple-bord {
    padding: 12px 5px;
  }
  .excursion-card .info-about-excursion .number span {
    font-size: 1.2em;
    line-height: 16px;
  }
  .excursion-card .info-about-excursion .item {
    margin-bottom: 7px;
  }
  .excursion-card .btn.btn-big {
    font-size: 22px;
    line-height: 23px;
    padding: 5px 30px;
  }
  .price-table {
    font-size: 16px;
  }
  .date-input {
    width: 46px;
  }
  .price-table .form-control.date-input {
    padding: 3px 4px;
  }
}
@media (max-width: 991px) {
  .upper .phones > div {
    display: block;
  }
  .upper .phones {
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .upper .phones {
    text-align: left;
  }
  .upper {
    padding: 25px 40px 25px;
  }
  .btns .ticket > span {
    padding-right: 88px;
  }
  .upper > div.btns {
    margin-left: 0;
  }
  .menu a [class^='ico'] {
    display: none;
  }
  .menu.nav > li > a {
    padding: 8px 10px;
  }
  .menu.second a > span:first-child {
    min-width: 0;
  }
  .menu.second a {
    text-align: center;
    line-height: 15px;
  }
  .menu.second a > span {
    display: block;
  }
  .menu.second.nav > li > a {
    padding: 10px 10px;
  }
  main .leftSide {
    width: 170px;
  }
  main .rightSide {
    width: 472px;
  }
  main {
    padding: 15px;
  }
  h1,
  .h1 {
    font-size: 1.7em;
  }
  h1,
  .h1,
  h2,
  .h2 {
    line-height: 30px;
  }
  main h1 {
    margin-top: -5px;
  }
  h2,
  .h2 {
    font-size: 1.6em;
  }
  .tx .des {
    font-size: 1.2em;
    line-height: 24px;
  }
  .tx {
    height: 140px;
  }
  .tx .h2 {
    margin-bottom: 10px;
  }
  .lmenu .title a {
    padding: 0 5px 2px;
  }
  .lmenu ul {
    padding: 10px ;
  }
  .lmenu li {
    padding-left: 15px;
    font-size: .8em;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 18px;
  }
  .lmenu .title a > span:first-child {
    width: 55px;
  }
  .lmenu .title a {
    font-size: .9em;
  }
  .card .picture img {
    max-width: 220px;
  }
  .card .picture {
    height: 126px;
  }
  .form .col-form-8 {
    width: 100%;
    margin-top: 10px;
  }
  .form .col-form-8:first-child {
    margin-top: 0;
  }
  .form .col-form-8 .btn {
    display: block;
    margin: 0 auto;
  }
  .form {
    padding: 12px 50px;
    margin: 20px 0 25px;
  }
  .catalog .media-left,
  .catalog .media > .pull-left {
    padding-right: 0;
    display: block;
    margin-bottom: 10px;
  }
  .catalog .card .picture img {
    max-width: 270px;
    border-radius: 8px;
  }
  .catalog .card .picture {
    height: auto;
    max-width: 270px;
    overflow: visible;
    margin-bottom: 85px;
  }
  .catalog .card .picture .text {
    bottom: auto;
    display: block;
    top: 102%;
    text-align: left;
  }
  .catalog .card .picture .text p {
    margin-bottom: 2px;
  }
  .catalog .card:hover .picture img {
    opacity: 1;
  }
  .excursion-card .gallery {
    width: 100%;
  }
  .excursion-card .gallery img {
    width: inherit;
  }
  .excursion-card > .row:first-child > div:first-child {
    margin-bottom: 30px;
  }
  .send-rewiev .auth-block {
    margin-top: 0;
  }
  .price-table td,
  .price-table th {
    max-width: 100%;
    padding: 5px 0;
  }
  .adaptive991 table.price-table tr {
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
  }
  .price-table td:first-child,
  .price-table th:first-child {
    width: 100%;
  }
  .price-table td:first-child,
  .price-table td:nth-child(2),
  .price-table th:first-child,
  .price-table th:nth-child(2) {
    text-align: right;
  }
  .excursion-descr [class^=ico] {
    position: relative;
    left: 0;
    top: -2px;
    margin-right: 3px;
  }
  .excursion-descr {
    padding-left: 0;
    margin-left: 0;
    max-width: 65%;
    margin-left: auto;
  }
  .adaptive991 table.price-table .filter td {
    text-align: left;
  }
  .date-input {
    width: 60px;
    text-align: center;
  }
  .adaptive991 table.price-table .filter td:before {
    float: none;
    display: block;
  }
}
@media (min-width: 767px) {
  #mainMenu .second {
    display: none;
  }
  #secondMenu {
    display: block;
  }
  .bar {
    display: none;
  }
  .excursion-card .dates ul.without {
    height: auto;
  }
  .excursion-card .dates {
    min-height: 0;
  }
}
@media (max-width: 767px) {
  .nav-justified > li > a {
    text-align: center;
    margin-bottom: 0px;
  }
  .nav-justified > li > a br {
    display: none;
  }
  .menu.nav > li > a {
    padding: 10px;
    line-height: 15px;
    font-size: 14px;
  }
  .menu.second {
    border-radius: 0;
  }
  .menu {
    border-radius: 0;
    overflow: hidden;
  }
  .menu a {
    border-left: 0;
    border-right: 0;
  }
  .container {
    padding: 0;
  }
  #mainMenu {
    display: none;
  }
  main .leftSide,
  main .rightSide {
    width: 100%;
    float: none;
  }
  .lmenu {
    margin-bottom: 10px;
  }
  .lmenu .title a {
    font-size: 1.2em;
  }
  .lmenu .title a br {
    display: none;
  }
  .lmenu .title a > span:first-child {
    width: 70px;
  }
  .lmenu .title a {
    padding: 0 20px 2px;
  }
  .lmenu ul {
    padding: 10px 20px;
  }
  main h1 {
    margin-top: 15px;
  }
  .card .body {
    height: 200px;
  }
  .card .picture img {
    width: 100%;
    max-width: 100%;
  }
  .card .picture {
    height: 155px;
  }
  body {
    font-size: 14px;
  }
  .excursion-card .gallery {
    margin-bottom: 30px;
  }
  .excursion-card > .row:first-child > div:first-child {
    margin-bottom: 0;
  }
  .excursion-card .info-about-excursion {
    margin-bottom: 30px;
  }
}
@media (max-width: 630px) {
  .card .body {
    height: 230px;
  }
  .card .picture {
    height: 140px;
  }
  .btns .ticket > span {
    padding-right: 40px;
  }
  .btns .program > span {
    padding-right: 60px;
  }
  .logo img {
    max-width: 220px;
  }
  .phone .number {
    font-weight: 700;
  }
  .tx {
    height: auto;
    padding: 20px 10px;
  }
}
@media (max-width: 580px) {
  .logo img {
    max-width: 210px;
  }
  .phone .number {
    font-size: 1.3em;
    line-height: 20px;
  }
  .phone .prefix {
    font-size: 1em;
  }
  .btns .program > span {
    padding-right: 40px;
  }
  .pagination > li:first-child,
  .pagination > li:last-child {
    display: block;
    margin: 5px 0;
  }
}
@media (max-width: 530px) {
  .upper {
    padding: 25px 25px 25px;
  }
  .btns > div:first-child {
    margin-right: 20px;
  }
  .upper .phones > div:first-child {
    margin-right: 0;
  }
  .upper > div {
    margin-left: 25px;
  }
}
@media (max-width: 500px) {
  .card-line .col-xs-12 {
    width: 100%;
  }
  .card-line .card .picture img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .card-line .card .body {
    height: auto;
    padding-bottom: 20px;
  }
  .card .picture {
    height: 170px;
  }
  .btns > div {
    display: block;
    margin-top: 5px;
  }
  .upper .phones {
    text-align: center;
  }
  .upper > div.btns {
    max-width: 188px;
    margin: 10px auto;
  }
  .upper > div {
    margin-left: 0;
    float: none;
  }
  .upper {
    text-align: center;
  }
  .logo img {
    max-width: 100%;
  }
  .phone .number {
    font-size: 1.5em;
    line-height: 26px;
  }
}
@media (max-width: 420px) {
  .review-name .date {
    margin-left: 0;
    display: block;
    margin-bottom: 5px;
  }
  .review-name ~ .padd-lef-25 {
    padding-left: 0;
  }
  .excursion-descr {
    max-width: 100%;
    margin-top: 25px;
  }
}
@media (max-width: 380px) {
  .form {
    padding: 12px 25px;
  }
  body {
    min-width: 300px;
  }
  .card .picture {
    height: 150px;
  }
  .madia-left-ico {
    margin-right: 0px;
  }
  .content ul li {
    padding-left: 15px;
  }
  .content ul li:before {
    top: 9px;
  }
  .btn.btn-big {
    font-size: 22px;
    line-height: 23px;
    padding: 5px 30px;
  }
  .block-380 {
    display: block;
  }
}
