@import 'header';
@import 'sidebar';
@import 'footer';


html, body, .wrapper {
  display: flex;
  min-height: 100%;
  width: 100%;
}

body, .wrapper {
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  min-width: 1px;
  flex-grow: 1;
  font-weight: 400;

  b,
  strong,
  .text-bold {
    font-weight: 700;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    &-ttn {
      text-transform: none;
    }
    &[data-backtitle] {
      position: relative;
      overflow: hidden;
      padding: 26px 0;
      margin: -25px 0 0;
      &::before {
        font-family: 'Montserrat';
        font-weight: 100;
        content: attr(data-backtitle);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        margin: auto;
        transform: translate(-50%, -50%);
        font-weight: 100;
        font-size: rem(140);
        text-transform: uppercase;
        color: #f5f5f5;
      }
    }
  }
}

.content {
  font-size: rem(20);
  @include bp(md) {
    font-size: rem(24);
  }
  line-height: 1.3;
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  &__logo-svg {
    flex-shrink: 0;
    width: 200px;
    @include bp(sm,'+') {
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      margin: auto;
    }
    @include bp(sm) {
      width: 250px;
    }
    @include bp(md) {
      width: 382px;
      // height: 480px;
    }
  }
  &--map {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 892px;
      z-index: -1;
      background: url('../img/map-about.svg') 50%/contain no-repeat;
      
    }
  }
  &--index {
    position: relative;
    @include fz(30,36.57);
    @include bp(md,'+') {
      font-size: rem(20);
    }
    margin-bottom: rem(100);
    p:not(:last-child) {
      margin-bottom: rem(20);
      line-height: inherit;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -2;
      left: 0;
      bottom: 0;
      transform: translateY(35%);
      width: 100%;
      height: 440px;
      background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 51.56%, #fff 100%), url('../img/bg-content.png'), #007DBE;
      background-blend-mode: normal, screen, normal;
    }
  }
  &__block {
    &--narrow {
      max-width: 595px;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  &__img {
    mix-blend-mode: multiply;
    margin-bottom: 10px;
    display: block;
    &--wide {
      max-width: 100%;
      @include bp(xs) {
        float: none;
        margin-right: 0;
      }
    }

    &--left {
      max-width: 100%;
      @include bp(xs) {
        float: left;
        margin-right: rem(45);
      }
    }
    &--right {
      max-width: 100%;
      @include bp(xs) {
        float: right;
        margin-left: rem(45);
      }
    }
  }
  &__date {
    margin-top: rem(50);
    @include fz(18,22,400)
  }
}
      

.main-block {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
  &--inner {
    padding-top: 15px;
    @include bp(md) {
      padding-top: 47px;
      .breadcrumbs {
        position: absolute;
        @include bp('1500px','+') {
          padding-left: 40px;
        }
      }
    }
  }

  .main {
    &:first-child {
      grid-column: 1 / -1;
    }
    .container {
      max-width: 1230px !important;
      width: 100% !important;
      @include bp(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .category {
      --col: 1;
      @include bp(xl) {
        --col: 3;
      }
      &__block {
        @include bp(xl,'+') {
          min-height: 350px;
        }
      }
      &__img {
        object-position: center 0;
        @include bp(sm) {
          object-position: center -60px;
        }
      }
      &__content-title {
        @include bp(xxl,'+') {
          font-size: rem(26);
        }
      }
    }
  }
  @include bp(md,'+') {
    .sidebar {
      width: 100%;
      // order: 1;
    }
  }
  gap: 10px;
  align-items: start;
  @include bp(md) {
    display: grid;
    grid-template-columns: 280px 1fr;
  }
  @include bp(lg) {
    grid-template-columns: 350px 1fr;
  }
  @include bp(xxl) {
    grid-template-columns: 450px 1fr;
  }
  @include iefix {
    display: flex;
    flex-wrap: nowrap;
    .sidebar {
      width: 450px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    .main {
      width: 100%;
    }
  }
}

.section {
  $t: &;
  margin-bottom: rem(50);
  &__content {
    font-size: rem(20);
    line-height: 1.25;
    @include bp(lg) {
      font-size: rem(24);
    }
  }
  &__header {
    padding-bottom: rem(10);
    margin-bottom: rem(50);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 370px;
      height: 3px;
      background: linear-gradient(to right, #134762 0%, rgba(19, 71, 98, 0) 100%);
    }
    &--flex {
      display: flex;
      @include bp(ph,'+') {
        justify-content: space-between;
      }
    }
  }
  &__title {
    &--h1 {
      @extend .h1;
    }
    &--h2 {
      @extend .h2;
    }
    margin-bottom: rem(10);
    position: relative;
    line-height: calc(49/40 *1em);
    text-transform: uppercase;
    &::before {
      font-family: $font_montserrat;
      content: attr(data-backtitle);
      @include abs(50%,auto,auto,50%,-1);
      transform: translate(-50%, -50%);
      font-weight: 100;
      font-size: rem(110);
      @include bp(xxl) {
        font-size: rem(140);
      }
      text-transform: uppercase;
      color: #F5F5F5;
    }
  }
  &__subtitle { 
    @extend .h5;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: rem(10);
  }
  &__link {
    font-size: rem(14);
    @include bp(sm,'+') {
      margin-left: auto;
      white-space: nowrap;
    }
  }
  &__descr {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: rem(10);
  }
}